/* Banner */

.bannerContainer {        
    background-color: #828858;
    max-height: 10rem;
}
.bannerContent{
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
#banner-img {
    align-self: end;
    display: inline;
    height: 8rem;
    width: 8rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
#banner-title {
    color: #F8FFF8;
    font-family: "Glook";
    font-size: 4rem;
    align-items: start;
    margin: 1.5%;
    max-height: 10rem;
}

/*Contact Us Page*/

/*Sets background color*/
body{
	margin: 0;
    background-color: rgb(250, 245, 245);
}

/*Controls maximum width of content on page*/
.cMaxWidth{
	max-width: 1320px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	
}

/*Header text position*/
.cHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	padding:1rem;
}

/*Header main font*/
.cHeader h1{
    font-family: 'Gloock', serif;
    text-align: center;
	font-size:4rem;
}

/*Header blurb font*/
.cHeader p{
    text-align: center;
	font-size:1.5rem;
}

/*Main content container*/
.cContentContainer{
	display:flex;
}

/*Message Us container*/
.cMessageContainer{
	flex:2;
	margin:25px;
	padding:10px;
	background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

/*Form container*/
.cFormContainer{
	display:flex;
	flex-direction:Column;
}

/*Sub continer header*/
.cSubHeader{
	align-items: center;
    text-align: center;

}
.cSubHeader h1{
    font-family: 'Gloock', serif;
    text-align: center;
	font-size:3rem;
}

.cSubHeader p{
    text-align: center;
	font-size:1.25rem;
	font-family: 'Roboto', sans-serif;
}


.cFormRow{
	display:flex;
	flex-direction:row;
}
.cFormBox{
	flex:1;
	margin:10px;
	padding:10px;
}
.cFormSubmitBox{
	flex:1;
	margin:10px;
	padding:10px;
	text-align:center;
}
#message, #subject, #email, #phone, #firstName, #secondName{
	width:99%;
}
#message{
	resize:vertical;
}
label{
	font-size:1.25rem;
	font-family: 'Gloock', serif;
}
textarea{
	font-size:1.25rem;
}
input{
	font-size:1.25rem;
}
#imageReplace{
	text-align:center;
}
#messageReplaceOne{
	text-align:center;
	font-size:1.2rem;
}
#messageReplaceTwo{
	text-align:center;
	font-size:1.2rem;
}
.contactUsDetailsContainer{
	flex:1;
	margin:25px;
	padding:10px;
	display:flex;
	flex-direction:Column;
	background-color: rgb(255, 255, 255);
    border-radius: 10px;
	text-align:center
	
}
.contactUsReachContainer{
	flex:1;

	margin:10px;
	padding:10px;
	flex-direction:Column;
}
.contactUsReachContainer h1{
	font-family: 'Gloock', serif;
	font-size:2rem;
}
.contactUsReachContainer h2{
	font-size:1.5rem;
}
.contactUsDetailsRow{
	display:flex;
	flex-direction:row;
	align-items: center;
}
.contactUsDetailsText{
	padding-left:10px;
	text-align:left;
}
.contactUsDetailsText h2{
	font-size:1.5rem;
}

#map{
	flex:1;

	margin:10px;
	padding:10px;

}
.contactUsDetailsSocials{
	display:flex;
	flex-direction:row;
}
.contactUsDetailsSocialsImage{
	padding-right:20px;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.my-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes my-fade {
  from {opacity: .4}
  to {opacity: 1}
}
.staffBox{
	width: 400px;
	text-align:center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding-bottom:20px;
	margin-left:45px;
	margin-right:45px;
}	
.centerContainer{
	display:flex;
	align-items:center;
}
.staffImage{
	border-radius: 10px 10px 0px 0px;
}	
.staffBox h1{
    font-family: 'Gloock', serif;
    text-align: center;
	font-size:1.8rem;
}

.staffBox p{
	font-family: 'Roboto', sans-serif;
    text-align: center;
	font-size:1rem;
}
@media(max-width:1200px){
	.cContentContainer{
	flex-direction:Column;
	}
	.contactUsDetailsRow{
	display:flex;
	flex-direction:column;
	align-items: center;
	text-align: center;
	}
	.contactUsDetailsText{
	text-align:center;
	padding-top:15px;
	padding-left:0px;
	}
	.contactUsDetailsSocials{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	}
	.contactUsDetailsSocialsImage{
	flex:1;
	padding-right:0px;
	padding-left:0px;
	}
}
	



/*footer*/

.footerBox{
	flex:1;
	margin:10px;
	padding:10px;
	flex-direction:Column;
	border-right: 1px solid white;
	text-align:center;
}
.footerBoxEnd{
	flex:1;
	margin:10px;
	padding:10px;
	flex-direction:Column;
	text-align:center;
}
.footerContactUsDetailsRow{
	display:flex;
	flex-direction:row;
	align-items: center;
	padding: 5px;
}
.footerContactUsDetailsText{
	padding-left: 15px;
}

.footerContactUsDetailsSocials{
	display:flex;
	flex-direction:row;
	padding: 5px;
}
.footerContactUsDetailsSocialsImage{
	padding-right:20px;
	text-align:center;
}
.footerContainer{
	color: white;
	display:flex;
	background-color: #88966a;
	width: 100%;
	margin: auto;
}
.footerContainer h1{
	font-family: 'Gloock', serif;
	font-size:1.25rem;
}
.footerContainer h2{
	font-family: 'Roboto', sans-serif;
	font-size:1.25rem;
}
.footerEnd h2{
	font-family: 'Roboto', sans-serif;
	font-size:1.25rem;
}
	
.footercontentcontainer{
	color: white;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	width: 100%;
	max-width: 1320px;
	margin: auto;
}
.footerOpeningHoursRow{
	display:flex;
	flex-direction:row;
	align-items: center;
}
.footerEnd{
	background-color: #B3D177;
	width: 100%;
	color: white;
	Padding: 10px;
}
@media(max-width:1000px){
	.footercontentcontainer{
	flex-direction:Column;
	align-items :center;
	flex:1;
	text-align:center;
	}
	.footerBox{
	width:90%;
	margin:5px;
	padding:10px;
	flex-direction:Column;
	padding: 5px;
	border-right: none;
	border-bottom: 1px solid white;
	text-align:center;
	}
	.footerContactUsDetailsRow{
		flex-direction: column;
	}
	.footerContactUsDetailsSocials{
		justify-content:center;
		align-items:center;
	}
	.footerContactUsDetailsText{
	padding-left: 0px;
	padding-top: 5px;
	}
	.footerContactUsDetailsSocialsImage{
	padding:10px;
	text-align:center;
	}
}


