

nav {
    background-color: #88966a;
}

h1 {
    align-content: center;
}
#banner {
    background-color: #8fa385;

}
#homepage-body-1{
    background-color: #B3D177;
}

#banner-image{
    text-align: right;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#homepageleftside{
    margin: 2rem;
   
}
#homepagerightside{

    margin: 2rem;
}
#hero-page{
    background-image: url("https://www.news-medical.net/images/news/ImageForNews_735966_16739612170418135.jpg");
    align-self: center;
    width: 100%;
    height: fit-content;
}
#footer {
    background-color: #828858;
}