
h1 {
    color: #000000;
}
h2{
    color: #000000;
} 
p1{
    color: #000000;
}

nav {
    background-color: #88966a;
}


#banner {
    background-color: #8fa385;

}
#homepage-body-1{
    background-color: #B3D177;
}

#banner-image{
    align-items: end;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#homepageleftside{
    width: 49%;
}
#homepagerightside{
    width: 49%;
}