
nav {
    background-color: #88966a;
}

h1 {
    font-family: "Glook";
    align-content: center;
}

h4{
    font-family: "Glook";
    text-align: center;
    background-color: #8fa385;
    color: #F8FFF8;
}

h5 {
    color: black;
    font-family: "Glook";
}

#homepage-body-1{
    max-width: 1320px;
    margin: auto;
    background-color: #B3D177;
}


.flex-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#homepageleftside{
    max-width: 1320px;
    margin: auto;
    font-family: "Roboto";
    color: #F8FFF8;
}

#homepagerightside{
    max-width: 1320px;
    margin: auto;
    justify-content: center;
}





/*footer*/

.footerBox{
	flex:1;
	margin:10px;
	padding:10px;
	flex-direction:Column;
	border-right: 1px solid white;
	text-align:center;
}
.footerBoxEnd{
	flex:1;
	margin:10px;
	padding:10px;
	flex-direction:Column;
	text-align:center;
}
.footerContactUsDetailsRow{
	display:flex;
	flex-direction:row;
	align-items: center;
	padding: 5px;
}
.footerContactUsDetailsText{
	padding-left: 15px;
}

.footerContactUsDetailsSocials{
	display:flex;
	flex-direction:row;
	padding: 5px;
}
.footerContactUsDetailsSocialsImage{
	padding-right:20px;
	text-align:center;
}
.footerContainer{
	color: #F8FFF8;
	display:flex;
	background-color: #828858;
	width: 100%;
	margin: auto;
}
.footerContainer h1{
	font-family: 'Gloock', serif;
	font-size:1.25rem;
}
.footerContainer h2{
	font-family: 'Roboto', sans-serif;
	font-size:1.25rem;
}
.footerEnd h2{
	font-family: 'Roboto', sans-serif;
	font-size:1.25rem;
}
	
.footercontentcontainer{
	color: #F8FFF8;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	width: 100%;
	max-width: 1320px;
	margin: auto;
}
.footerOpeningHoursRow{
	display:flex;
	flex-direction:row;
	align-items: center;
}
.footerEnd{
	background-color: #B3D177;
	width: 100%;
	color: white;
	Padding: 10px;
}
.footerNavLink a{
	text-decoration:none;
	color: #F8FFF8;
	
}
.footerNavLink a:hover {
	text-decoration: underline;
}
@media(max-width:1000px){
	.footercontentcontainer{
	flex-direction:Column;
	align-items :center;
	flex:1;
	text-align:center;
	}
	.footerBox{
	width:90%;
	margin:5px;
	padding:10px;
	flex-direction:Column;
	padding: 5px;
	border-right: none;
	border-bottom: 1px solid white;
	text-align:center;
	}
	.footerContactUsDetailsRow{
		flex-direction: column;
	}
	.footerContactUsDetailsSocials{
		justify-content:center;
		align-items:center;
	}
	.footerContactUsDetailsText{
	padding-left: 0px;
	padding-top: 5px;
	}
	.footerContactUsDetailsSocialsImage{
	padding:10px;
	text-align:center;
	}
}

#hero-background{
    background-image: url("images/hero-image.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70rem;
    
}

#hero-text{
    max-width: 1320px;
    margin: auto;
    font-family: "Roboto";
    color: #F8FFF8;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#productImg{
    width: 11rem;
    height: 11rem;
    border-radius: 10px;
    align-content: center;
}

.slideText{
    color: black;
}

.d-block {
    max-height: 12rem;
    max-width: 12rem;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

#quiz-title {
    max-width: 1320px;
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: #B3D177;
    color: white;
    padding: 3rem;
}

#quiz-form {
    max-width: 1320px;
    margin: auto;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color:#828858;
    color: #F8FFF8;
    padding: 3rem;
}

#questions {
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
   
}

/* Banner */

.bannerContainer {
        
    background-color: #828858;
    max-height: 10rem;
}

.bannerContent{
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

#banner-img {
    align-self: end;
    display: inline;
    height: 8rem;
    width: 8rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#banner-title {
    color: #F8FFF8;
    font-family: "Glook";
    font-size: 4rem;
    align-items: start;
    margin: 1.5%;
    max-height: 10rem;
}

.carouselTitle{
    max-width: 1320px;
    margin: auto;
}

#newText {
    max-width: 1320px;
    margin: auto;
    background-color: #B3D177;
    color: #F8FFF8;
}
