.containerMaxWidth{
	display:flex;
	justify-content:center;
	width: 100%;
}
.containerA{
	border:1px solid;
	display:flex;
	flex-direction:Column;
	max-width:1200px;
	background-color:#fefefa;
}
.containerB{
	display:flex;
	flex-direction:Row;
}
.boxPic{
	border:1px solid;
	flex:1;
	margin:20px;
	border-radius: 25px;
	background-image:url(../images/tea-portrait.jpg);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	
}
.boxText{
	border:1px solid;
	flex:1;
	margin:20px;
	padding:5px;
	font-size:20px;
	border-radius: 25px;
	background-color:white;
	
}
#headerArgentina{
	padding-left:5px;
	background-color:#6CACE4;
	color:white;
}
#headerChina{
	padding-left:5px;
	background-color:#EE1C25;
	color:#FFFF00;
}
#headerIndia{
	padding-left:5px;
	background-color:#FF9933;
	color:white;
}
#headerJapan{
	padding-left:5px;
	background-color:white;
	color:#BC002D;
}
#headerMorocco{
	padding-left:5px;
	background-color:#C1272D;
	color:#006233;
}
#headerUK{
	padding-left:5px;
	background-color:#012169;
	color:white;
}