    .shopContent {
        margin: 0;
        background-color: rgb(250, 245, 245);
        font-family: 'Roboto', sans-serif;

    }

    .bannerContainer {

        background-color: #828858;
        max-height: 10rem;
    }

    .bannerContent {
        max-width: 1320px;
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }

    #banner-img {
        align-self: end;
        display: inline;
        height: 8rem;
        width: 8rem;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }

    #banner-title {
        color: #F8FFF8;
        font-family: "Glook";
        font-size: 4rem;
        align-items: start;
        margin: 1.5%;
        max-height: 10rem;
    }

    /*Shop header*/
    .shopHeader {
        padding-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .shopHeader h1 {
        font-family: 'Gloock', serif;
        font-size: 70px;
        text-align: center;
    }

    .shopLinks {
        display: flex;
        justify-content: space-between
    }

    .shopLinks a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 30px;
        color: #828858;
    }

    /*****Store Section*****/
    .storeContainer {
        max-width: 1320px;
        margin: auto;
        padding-bottom: 80px;
    }

    /*Grid used to display procuts flexibly*/
    .productGrid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /*card which displays product*/
    .productCard {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin: 20px;
        padding: 10px
    }

    .productCard:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }

    .productImg {
        width: 260px;
        height: auto;
        border-radius: 10px;
    }

    .productCard p {
        margin: 8px;
    }

    .productInfo {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .productPrice {
        font-weight: lighter;
    }

    .purchaseDiv {
        text-align: center;
        font-size: 20px;
        font-family: 'Gloock', serif;
        background-color: #828858;
        margin: 0px 0px 8px 0px;
        padding: 8px;
    }

    .purchaseDiv a {
        color: rgb(250, 245, 245);
        text-decoration: none;
    }

    .purchaseDiv:hover {
        background-color: #6b704c;

    }

    /*Footer*/
    .footerBox {
        flex: 1;
        margin: 10px;
        padding: 10px;
        flex-direction: Column;
        border-right: 1px solid white;
        text-align: center;
    }
    .footerNavLink a{
        text-decoration:none;
        color: #F8FFF8;
        
    }
    .footerNavLink a:hover {
        text-decoration: underline;
    }

    .footerBoxEnd {
        flex: 1;
        margin: 10px;
        padding: 10px;
        flex-direction: Column;
        text-align: center;
    }

    .footerContactUsDetailsRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }

    .footerContactUsDetailsText {
        padding-left: 15px;
    }

    .footerContactUsDetailsSocials {
        display: flex;
        flex-direction: row;
        padding: 5px;
    }

    .footerContactUsDetailsSocialsImage {
        padding-right: 20px;
        text-align: center;
    }

    .footerContainer {
        color: white;
        display: flex;
        background-color: #828858;
        width: 100%;
        margin: auto;
    }

    .footerContainer h1 {
        font-family: 'Gloock', serif;
        font-size: 1.25rem;
    }

    .footerContainer h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
    }

    .footerEnd h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
    }

    .footercontentcontainer {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        max-width: 1320px;
        margin: auto;
    }

    .footerOpeningHoursRow {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footerEnd {
        background-color: #B3D177;
        width: 100%;
        color: white;
        Padding: 10px;
    }

    @media(max-width:1000px) {
        .footercontentcontainer {
            flex-direction: Column;
            align-items: center;
            flex: 1;
            text-align: center;
        }

        .footerBox {
            width: 90%;
            margin: 5px;
            padding: 10px;
            flex-direction: Column;
            padding: 5px;
            border-right: none;
            border-bottom: 1px solid white;
            text-align: center;
        }

        .footerContactUsDetailsRow {
            flex-direction: column;
        }

        .footerContactUsDetailsSocials {
            justify-content: center;
            align-items: center;
        }

        .footerContactUsDetailsText {
            padding-left: 0px;
            padding-top: 5px;
        }

        .footerContactUsDetailsSocialsImage {
            padding: 10px;
            text-align: center;
        }
    }